fastapi
uvicorn[standard]
pymupdf
pytesseract
Pillow
openai
python-multipart
python-dotenv
pydantic
sqlalchemy
wikipedia
pdfplumber
opencv-python-headless
googlesearch-python
duckduckgo-search
spacy
httpx
